.test {
    clear: both;
    color: gray;
} .test > h2.title {
  border-bottom: 2px solid gray;
  width: 96%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
} .test > .description {
    width: 20%;
    float: left;
} h3 {
    text-decoration: underline;
} .test > .test_description {
    width: 25%;
  border-left: 1px dashed gray;
  border-right: 1px dashed gray;
} .test > .results {
    width: 45%;
    float: left;
    padding-bottom: 10px;
} .test > .spacer {
    clear: both;
}
.test > .description,
.test > .test_description,
.test > .results {
  float: left;
  padding: 10px 1% 10px 1%;
}

#test_dom {
    clear: both;
}